# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare encoding of all files for code.
*.bas encoding=ANSI
*.cls encoding=ANSI
*.frm encoding=ANSI
*.frx encoding=ANSI

# Declare files that will always have CRLF line endings on checkout.
*.cls text eol=crlf
*.vbp text eol=crlf
*.frx text eol=crlf
*.frm text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.exe binary
