# Client Files.
Screenshots/*
Codigo/*.log
*.vbw
*.oca
*.csi
*.lvw
INIT/Inicio.con
INIT/AO.dat
INIT/messages.txt
Argentum.exe

# System Files.
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump
