# Auto-CRLF setting.
* text eol=crlf
/INIT/sinfo.dat eol=lf
/GRAFICOS/Fonts/font1.dat eol=lf
/GRAFICOS/Fonts/font2.dat eol=lf
/GRAFICOS/Fonts/font3.dat eol=lf

# Declare file types.
# The - is a negation symbol, so  -text it means"not" text
*.msv binary
*.frx binary
*.ico binary
*.png binary
*.gif binary
*.jpg binary
*.gif binary
*.bmp binary
*.mcl binary
*.dll binary
*.ind binary
*.con binary
*.bin binary
*.mid binary
*.mp3 binary
*.wav binary
*.ao binary
*.ocx binary
*.OCX binary
*.map binary
*.exe binary
*.ani binary
*.inf binary
/GRAFICOS/Fonts/font1.dat binary
/GRAFICOS/Fonts/font2.dat binary
/GRAFICOS/Fonts/font3.dat binary

# Declare encoding and file type
.manifest text
.rc text
*.bas text working-tree-encoding=windows-1252
*.cls text working-tree-encoding=windows-1252
*.vbp text working-tree-encoding=windows-1252
*.frm text working-tree-encoding=windows-1252
*.json text working-tree-encoding=windows-1252
*.dat text working-tree-encoding=windows-1252